html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-width: 375px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0px 10px 0px;
  display: block;
  position: relative;
}

.header {
  padding-top: 30px;
  padding-bottom: 23px;
}
.header__inner {
  min-height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__link {
  font-size: 48px;
  font-family: "Bebas Neue";
  text-decoration: none;
  color: #e8603c;
}
.logo__link span {
  color: #f3af9d;
}

.nav__bar {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Bebas Neue";
  list-style: none;
  padding: 0;
}
.nav__bar .nav__bar-item {
  padding-left: 28px;
}
.nav__bar .nav__bar-item a {
  color: #b9b9b9;
  text-decoration: none;
}
.nav__bar .active-item {
  padding-left: 0;
}
.nav__bar .active-item a {
  color: #e8603c;
}

.slider {
  padding-bottom: 43px;
}

.slider__scroller .items {
  padding: 0;
  display: grid;
  max-width: 940px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 17px;
  list-style: none;
}

.items .carusele {
  grid-column-end: span 6;
}
.items .item {
  padding: 0;
  max-height: auto;
}

.items img {
  max-width: 100%;
  cursor: pointer;
}

.preference {
  padding-bottom: 50px;
}
.preference__inner {
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.preference__inner .card {
  grid-column-end: span 12;
  max-width: 300px;
  margin: 0 auto;
}
.preference__inner .card .heading {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 22px;
}
.preference__inner .card .heading h2 {
  margin: 0;
  font-family: "Bebas Neue";
  color: #e8603c;
  line-height: 32px;
}
.preference__inner .card .text {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 22px;
  line-height: 24px;
}
.preference__inner .card .button {
  height: 31px;
  width: 56px;
  padding: 0;
  padding: 9px 13px 0 0;
  font-family: "Bebas Neue";
  background-color: #e8603c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.recentWorks {
  padding-bottom: 50px;
}
.recentWorks__inner {
  display: grid;
  max-width: 940px;
  grid-row-gap: 26px;
}
.recentWorks__inner .recentWorks__topLine {
  display: grid;
  max-width: 940px;
  grid-template-columns: 85px 1fr;
  grid-column-gap: 47px;
  position: relative;
}
.recentWorks__inner .recentWorks__topLine h2 {
  min-width: 85px;
  margin: 0;
  color: #e8603c;
  font-size: 24px;
}
.recentWorks__inner .recentWorks__topLine div {
  overflow: hidden;
  max-width: 100%;
  height: 54px;
  float: left;
  position: relative;
}
.recentWorks__inner .recentWorks__topLine img {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.recentWorks__inner .recentWorks__content .content {
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.recentWorks__inner .recentWorks__content .content .item {
  grid-column-end: span 12;
  display: grid;
  grid-template-rows: 184px 1fr;
  margin: 0 auto;
}
.recentWorks__inner .recentWorks__content .content .item div {
  min-height: 61px;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-top: 0;
}
.recentWorks__inner .recentWorks__content .content .item div p {
  font-size: 22px;
  font-family: "Bebas Neue";
  color: #bebebe;
  margin: 0;
  padding: 13px 0 10px 13px;
  padding-bottom: 10px;
}
.recentWorks__inner .recentWorks__content .content .item div time {
  display: block;
  font-size: 16px;
  font-family: "Bebas Neue";
  color: #e8603c;
  padding-left: 13px;
  padding-bottom: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 0 1fr 0;
}
.footer__inner {
  display: grid;
  max-width: 940px;
  min-height: 263px;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 26px;
  grid-row-gap: 26px;
  background-color: #e8603c;
}
.footer__inner > .item {
  grid-column-end: span 12;
  padding-left: 35px;
  padding-top: 43px;
}
.footer__inner h2 {
  font-size: 24px;
  font-family: "Bebas Neue";
  color: #ffffff;
  margin: 0;
  padding-bottom: 27px;
}
.footer__inner p {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 20px;
}
.footer__inner p a {
  color: #f2ae98;
  text-decoration: none;
}
.footer__inner p span {
  display: block;
  color: #f2ae98;
  text-decoration: none;
  padding-top: 11px;
}
.footer__inner .sotialNetworks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-column-gap: 5px;
  padding: 0;
}
.footer__inner .sotialNetworks .item {
  grid-column-end: span 1;
}

@media (min-width: 768px) {
  .header__inner {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .preference__inner .card {
    grid-column-end: span 6;
  }
  .preference__inner .card .heading {
    height: 74px;
  }

  .recentWorks__inner .recentWorks__content .content .item {
    grid-column-end: span 6;
  }

  .footer__inner > .item {
    grid-column-end: span 6;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }

  .header__inner {
    width: 940px;
  }

  .slider__scroller {
    width: 940px;
  }

  .preference__inner .card {
    grid-column-end: span 4;
  }

  .recentWorks__inner .recentWorks__content .content .item {
    grid-column-end: span 3;
  }

  .footer {
    grid-template-columns: 1fr 960px 1fr;
  }

  .footer__inner > .item {
    grid-column-end: span 4;
  }

  .before {
    background-color: #f3b29d;
    height: 100%;
    min-width: 100%;
  }

  .after {
    background-color: #f3b29d;
    height: 100%;
    min-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
